# PUSHER
PUSHER_APP_ID="2078734"
NEXT_PUBLIC_PUSHER_KEY="f8dda6420856102084bc"
PUSHER_SECRET="d2bdb07b4339a95e1e90"
PUSHER_CLUSTER="eu"

# GITHUB OAUTH
GITHUB_CLIENT_ID="Ov23liiTmPajo7QPk0SV"
GITHUB_CLIENT_SECRET="4d504c8379312904184d52204223291c759e7746"

# DATABASE
MONGODB_URL="mongodb+srv://akewusholaabdulbakri101:EeQVeqrRm6JPzutE@webapi.n19k0kk.mongodb.net/webapi?retryWrites=true&w=majority&appName=webapi"

# AI API
AI_API_KEY="MY_AI_API_KEY"

# ADMIN
ADMIN_EMAIL="admin@violetflix.movie"
ADMIN_PASSWORD="violetflixadmin"
